.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	/*background-color: rgb(0,0,0);*/
	background-color: rgba(0,0,0,0.4);
	transition: opacity .5s;
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.form > .modal-content {
	width: 50%;
	display: flex;
	flex-flow: column nowrap;
}

.form .field {
	margin: .5rem 0;
}

.form .ctl {
	margin-top: 1.5rem;
}

.form input {
	width: 100%;
}

.form .ctl {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.form .ctl button {
	width: 80%;
}

#win-stats button:hover, .form .ctl button:hover {
	color: #fff;
	background-color: #000;
	border-color: #fff;
}

#win-stats > .modal-content {
	display: flex;
	flex-flow: column nowrap;
}

#win-stats .flex-column, #win-stats select {
	width: 100%;
}

#win-stats svg {
	min-width: 500px;
	min-height: 400px;
} 

#win-stats select {
	padding: 1rem 1rem;
	border-radius: 4px;
	background-color: #f1f1f1;
}

#win-stats h1 {
	font-size: 4rem;
	margin: 1rem auto;
	margin-bottom: 2rem;
}

#win-stats .flex-column > * {
	font-size: 1.8rem;
	margin-top: 1.6rem;
}

.flex-row {
	display: flex;
	flex-flow: row nowrap;
}

.flex-column {
	display: flex;
	flex-flow: column nowrap;
}
